*~
\#*
\.#*
*.swp
result*

/analysis
/runs
/runs-archive
/runs-last
/db-sync-snapshot
/state-snapshots
*-logs/

.envrc
genesis-keys
globals.nix
keys
last-deploy.log
static

/*.json
/*.split
/*.tar.xz
.nix-gc-roots

*.md.temp
